.container {
  margin: 8rem auto;
  max-width: 120rem;
  background-color: $color-grey-light-1;
  box-shadow: 0 3rem 4rem $shadow-dark;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: $color-grey-light-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.hotel-view {
  background-color: #fff;

  flex: 1; // flex-grow: 1 to occupy the remaining space
  height: 82rem;
}

.sidebar {
  background-color: $color-grey-dark-1;
  //flex-basis ---> to define the width of this part
  flex: 0 0 18%; // flex-grow: 0, flex-shrink: 0, flex-basis: 18%
}
